#column-one {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0rem;
	gap: 1rem;

	width: 20rem;
	height: 29.125rem;

	flex: none;
	order: 0;
	flex-grow: 0;

	& #history {
		box-sizing: border-box;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 1.75rem 0.5rem 1.5rem 1.5rem;
		gap: 1rem;
		isolation: isolate;

		width: 20rem;
		height: 22.5rem;

		background: var(--gray-100);
		border: 0.0625rem solid var(--gray-300);
		border-radius: 1rem;

		flex: none;
		order: 1;
		align-self: stretch;
		flex-grow: 0;

		& #history-header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 0rem;
			gap: 10rem;

			width: 16.75rem;
			height: 1.0625rem;

			flex: none;
			order: 0;
			align-self: stretch;
			flex-grow: 0;
			z-index: 0;

			& h4 {
				margin: 0 auto;
				width: 4.0625rem;
				height: 1.0625rem;

				font-family: 'Oxygen';
				font-style: normal;
				font-weight: var(--font-title-sm);
				font-size: 0.75rem;
				line-height: 140%;
				display: flex;
				align-items: center;

				text-transform: uppercase;

				color: var(--gray-500);

				flex: none;
				order: 0;
				flex-grow: 0;
			}

			& span {
				width: 2.6875rem;
				height: 1.0625rem;

				/* Body/Text Xs */
				font-family: 'Oxygen';
				font-style: normal;
				font-weight: var(--font-text-xs);
				font-size: 0.75rem;
				line-height: 140%;
				display: flex;
				align-items: center;

				color: var(--gray-500);

				flex: none;
				order: 1;
				flex-grow: 0;
			}
		}

	}
}

@media (width <=80em) {}
