#header {
	max-width: 80em;

	box-sizing: border-box;
	padding-top: 4rem;

	& .image-div {
		& img {
			position: absolute;
			width: 7.25rem;
			height: 3.5rem;
			left: calc(50% - 7.25rem / 2);
			top: 4rem;
		}
	}
}

@media (width <=80em) {
	#header {
		padding-top: 2rem;

		& .image-div {
			& img {
				width: 6.214rem;
				height: 3rem;
				left: calc(50% - 99.43px/2 + 0.21px);
				top: 2rem;
			}
		}
	}
}