#content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;

	position: absolute;
	width: 912px;
	height: 466px;
	left: calc(50% - 912px/2);
	top: 272px;

	& #column-one {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: 16px;

		width: 320px;
		height: 466px;

		flex: none;
		order: 0;
		flex-grow: 0;

		& #user {
			/* User */

			box-sizing: border-box;

			/* Auto layout */
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 16px;
			gap: 16px;

			width: 320px;
			height: 90px;

			/* Base/Gray-100 */
			background: #F4F1F2;
			/* Base/Gray-300 */
			border: 1px solid #DFDCDF;
			border-radius: 16px;

			/* Inside auto layout */
			flex: none;
			order: 0;
			align-self: stretch;
			flex-grow: 0;

			& #avatar {
				/* Avatar */

				box-sizing: border-box;

				width: 56px;
				height: 56px;

				border-radius: 10px;

				/* Inside auto layout */
				flex: none;
				order: 0;
				flex-grow: 0;

				& img {
					/* Picture */

					box-sizing: border-box;

					position: absolute;
					left: 0%;
					right: 0%;
					top: 0%;
					bottom: 0%;

					/* Base/Gray-100 */
					border: 3px solid #F4F1F2;
					border-radius: 10px;

				}
			}

			& #info {
				/* Info */

				/* Auto layout */
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 0px;
				gap: 4px;

				width: 140px;
				height: 46px;


				/* Inside auto layout */
				flex: none;
				order: 1;
				flex-grow: 0;

				& h3 {
					/* Name */

					width: 137px;
					height: 25px;

					/* Heading/Title Sm */
					font-family: 'Oxygen';
					font-style: normal;
					font-weight: 700;
					font-size: 18px;
					line-height: 140%;
					/* or 25px */
					display: flex;
					align-items: center;

					/* Base/Gray-600 */
					color: #4A4448;


					/* Inside auto layout */
					flex: none;
					order: 0;
					flex-grow: 0;

				}

				& span {
					/* Client since */

					width: 140px;
					height: 17px;

					/* Body/Text Xs */
					font-family: 'Oxygen';
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 140%;
					/* identical to box height, or 17px */
					display: flex;
					align-items: center;

					/* Base/Gray-500 */
					color: #756C71;

					flex: none;
					order: 1;
					flex-grow: 0;

				}

			}
		}

		& #history {
			box-sizing: border-box;

			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 28px 8px 24px 24px;
			gap: 16px;
			isolation: isolate;

			width: 320px;
			height: 360px;

			/* Base/Gray-100 */
			background: #F4F1F2;
			/* Base/Gray-300 */
			border: 1px solid #DFDCDF;
			border-radius: 16px;

			flex: none;
			order: 1;
			align-self: stretch;
			flex-grow: 0;

			& #history-header {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 0px;
				gap: 160px;

				width: 268px;
				height: 17px;

				flex: none;
				order: 0;
				align-self: stretch;
				flex-grow: 0;
				z-index: 0;

				/* border: 1px solid red;  */
				& h4 {
					margin: 0 auto;
					width: 65px;
					height: 17px;

					/* Heading/Subtitle Sm */
					font-family: 'Oxygen';
					font-style: normal;
					font-weight: 700;
					font-size: 12px;
					line-height: 140%;
					/* identical to box height, or 17px */
					display: flex;
					align-items: center;

					text-transform: uppercase;

					/* Base/Gray-500 */
					color: #756C71;


					/* Inside auto layout */
					flex: none;
					order: 0;
					flex-grow: 0;

				}

				& span {
					/* 7 cortes */

					margin: 0 auto;
					width: 43px;
					height: 17px;

					/* Body/Text Xs */
					font-family: 'Oxygen';
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 140%;
					/* identical to box height, or 17px */
					display: flex;
					align-items: center;

					/* Base/Gray-500 */
					color: #756C71;


					/* Inside auto layout */
					flex: none;
					order: 1;
					flex-grow: 0;

				}
			}

			& #history-list {
				/* List */

				box-sizing: border-box;

				/* Auto layout */
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 12px 0px 0px;
				gap: 12px;

				height: 364px;

				/* Base/Gray-200 */
				border-top: 1px solid #E9E7E9;

				order: 1;
				align-self: stretch;
				flex-grow: 0;
				z-index: 1;

				/* scroll */
				overflow-y: auto;
				overflow-x: hidden;

				&::-webkit-scrollbar {
					width: 6px;
					height: 72px;
					/* Altura visível da barra */
					right: 8px;
					top: 10px;
					/* Base/Gray-300 */
					border-radius: 999px;

					/* Inside auto layout */
					flex: none;
					order: 2;
					flex-grow: 0;
					z-index: 2;

				}

				&::-webkit-scrollbar-thumb {
					background-color: #ccc;
					border-radius: 4px;
				}

				&::-webkit-scrollbar-track {
					background: transparent;
				}

				& .history-row {
					/* Row */

					/* Auto layout */
					display: flex;
					flex-direction: row;
					justify-content: start;
					align-items: center;
					padding: 2px 0px;
					gap: 169px;

					width: 268px;
					height: 40px;


					/* Inside auto layout */
					flex: none;
					order: 0;
					align-self: stretch;
					flex-grow: 0;

					& .history-row-title {
						/* Title */

						/* Auto layout */
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: flex-start;
						padding: 0px;
						gap: 2px;

						margin: 0 auto;
						width: 67px;
						height: 36px;

						flex: none;
						order: 0;
						flex-grow: 0;

						& p {
							/* 29/04/2024 */

							width: 67px;
							height: 17px;

							/* Heading/Subtitle Sm */
							font-family: 'Oxygen';
							font-style: normal;
							font-weight: 700;
							font-size: 12px;
							line-height: 140%;
							/* identical to box height, or 17px */
							display: flex;
							align-items: center;
							text-transform: uppercase;

							/* Base/Gray-600 */
							color: #4A4448;

							flex: none;
							order: 0;
							flex-grow: 0;

						}

						& span {
							/* 18:30 */

							width: 28px;
							height: 17px;

							/* Body/Text Xs */
							font-family: 'Oxygen';
							font-style: normal;
							font-weight: 400;
							font-size: 12px;
							line-height: 140%;
							/* identical to box height, or 17px */
							display: flex;
							align-items: center;

							/* Base/Gray-500 */
							color: #756C71;

							flex: none;
							order: 1;
							flex-grow: 0;

						}

					}

					& .history-row-icon {
						/* Icon */

						/* Auto layout */
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: start;
						padding: 4px;
						/* gap: 8px; */

						margin: 0 auto;
						width: 32px;
						height: 32px;

						/* Inside auto layout */
						flex: none;
						order: 1;
						flex-grow: 0;

						& .history-row-image {
							width: 24px;
							height: 24px;
							flex: none;
							order: 1;
							flex-grow: 0;
						}

					}
				}

			}

		}
	}

	& #column-two {
		/* Column */

		/* Auto layout */
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: 16px;

		width: 568px;
		height: 466px;


		/* Inside auto layout */
		flex: none;
		order: 1;
		align-self: stretch;
		flex-grow: 1;

		& .card {
			/* Card */

			box-sizing: border-box;

			/* Auto layout */
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 36px 32px 32px;
			gap: 32px;
			isolation: isolate;

			width: 568px;
			height: 333px;

			/* Base/Gray-100 */
			background: #F4F1F2;
			/* Base/Gray-300 */
			border: 1px solid #DFDCDF;
			border-radius: 20px;

			/* Inside auto layout */
			flex: none;
			order: 0;
			align-self: stretch;
			flex-grow: 0;

			& .header {
				/* Header */

				/* Auto layout */
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 0px;
				gap: 4px;

				width: 306px;
				height: 41px;


				/* Inside auto layout */
				flex: none;
				order: 0;
				flex-grow: 0;
				z-index: 0;

				& h3 {
					width: 119px;
					height: 17px;

					/* Heading/Subtitle Sm */
					font-family: 'Oxygen';
					font-style: normal;
					font-weight: 700;
					font-size: 12px;
					line-height: 140%;
					/* identical to box height, or 17px */
					display: flex;
					align-items: center;
					text-transform: uppercase;

					/* Base/Gray-500 */
					color: #756C71;


					/* Inside auto layout */
					flex: none;
					order: 0;
					flex-grow: 0;

				}

				& span {
					width: 306px;
					height: 20px;

					/* Body/Text Sm */
					font-family: 'Oxygen';
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 140%;
					/* identical to box height, or 20px */
					display: flex;
					align-items: center;

					/* Base/Gray-500 */
					color: #756C71;


					/* Inside auto layout */
					flex: none;
					order: 1;
					flex-grow: 0;

				}
			}

			& .slots {
				/* Slots */

				/* Auto layout */
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: flex-start;
				align-content: flex-start;
				padding: 0px;
				gap: 16px;

				width: 504px;
				height: 192px;


				/* Inside auto layout */
				flex: none;
				order: 1;
				align-self: stretch;
				flex-grow: 0;
				z-index: 1;

				& .item {
					/* Item */

					width: 88px;
					height: 88px;

					/* Base/Gray-200 */
					background: #E9E7E9;
					backdrop-filter: blur(5px);
					/* Note: backdrop-filter has minimal browser support */
					border-radius: 20px;

					/* Inside auto layout */
					flex: none;
					order: 0;
					flex-grow: 0;

					& .gift-default {
						/* PinCheck */

						position: absolute;
						width: 64px;
						height: 64px;
						left: calc(50% - 64px/2);
						top: calc(50% - 64px/2);
					}

					& .gift-icon {
						/* Icons */

						position: absolute;
						width: 40px;
						height: 40px;
						left: calc(50% - 40px/2);
						top: calc(50% - 40px/2);

						opacity: 0.35;
					}

				}
			}

			& .id-tag {
				/* ID Tag */

				/* Auto layout */
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 0px 12px;
				gap: 8px;

				position: absolute;
				width: 149px;
				height: 32px;
				right: 32px;
				top: 32px;

				/* Base/Gray-300 */
				background: #DFDCDF;
				border-radius: 999px;

				/* Inside auto layout */
				flex: none;
				order: 2;
				flex-grow: 0;
				z-index: 2;

				& h3 {
					/* ID: 124-537-835-230 */

					width: 125px;
					height: 20px;

					/* Heading/Subtitle Md */
					font-family: 'Oxygen';
					font-style: normal;
					font-weight: 700;
					font-size: 14px;
					line-height: 140%;
					/* identical to box height, or 20px */
					display: flex;
					align-items: center;
					text-transform: uppercase;

					/* Base/Gray-500 */
					color: #756C71;


					/* Inside auto layout */
					flex: none;
					order: 0;
					flex-grow: 0;

				}
			}
		}

		& .progress {
			/* Progress */

			box-sizing: border-box;

			/* Auto layout */
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 32px;
			gap: 32px;

			width: 568px;
			height: 117px;

			/* Base/Gray-100 */
			background: #F4F1F2;
			/* Base/Gray-300 */
			border: 1px solid #DFDCDF;
			border-radius: 16px;

			/* Inside auto layout */
			flex: none;
			order: 1;
			align-self: stretch;
			flex-grow: 1;

			& .content {
				/* Content */

				/* Auto layout */
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-start;
				padding: 0px;
				gap: 12px;

				width: 400px;
				height: 63px;


				/* Inside auto layout */
				flex: none;
				order: 0;
				flex-grow: 1;

				& h2 {
					/* 3 cortes restantes */

					width: 135px;
					height: 34px;

					/* Heading md */
					font-family: 'Oxygen';
					font-style: normal;
					font-weight: 300;
					font-size: 18px;
					line-height: 140%;
					/* identical to box height, or 34px */

					/* Base/Gray-600 */
					color: #4A4448;

					/* Inside auto layout */
					flex: none;
					order: 0;
					flex-grow: 0;

					& strong {
						font-size: 24px;
						font-weight: 700;
					}
				}

				& .linear-progress {
					/* LinearProgress */

					/* Auto layout */
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					padding: 0px;
					gap: 12px;

					width: 400px;
					height: 17px;


					/* Inside auto layout */
					flex: none;
					order: 1;
					align-self: stretch;
					flex-grow: 0;

					& .bar {
						/* Bar */

						/* Auto layout */
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: flex-start;
						padding: 0px 107.7px 0px 0px;
						gap: 8px;

						width: 351px;
						height: 8px;

						/* Base/Gray-300 */
						background: #DFDCDF;
						border-radius: 9999px;

						/* Inside auto layout */
						flex: none;
						order: 0;
						flex-grow: 1;

					}

					& span {
						/* 7 de 10 */

						width: 37px;
						height: 17px;

						/* Body/Text Xs */
						font-family: 'Oxygen';
						font-style: normal;
						font-weight: 400;
						font-size: 12px;
						line-height: 140%;
						/* identical to box height, or 17px */
						display: flex;
						align-items: center;

						/* Base/Gray-500 */
						color: #756C71;


						/* Inside auto layout */
						flex: none;
						order: 1;
						flex-grow: 0;

					}
				}
			}

			& .progress-item {
				/* Item */

				width: 72px;
				height: 72px;

				/* Base/Gray-200 */
				background: #E9E7E9;
				border-radius: 999px;

				/* Inside auto layout */
				flex: none;
				order: 1;
				flex-grow: 0;

				& .progress-gift-icon {
					
				}
			}
		}
	}



}

@media (width <=80em) {}